.spoiler-block
  button.btn.btn-primary.info-spoiler-btn СТАНДАРТЫ ВИДЕОСЪЕМКИ КОМПЛЕКСА
  .info-spoiler
    br
    p
      | Прежде, чем участник приступит к выполнению задания, нужно представиться, разборчиво назвав фамилию и имя, категорию, в которой выступает атлет, а должен назвать категорию и комплекс. Продемонстрировать используемый в задании инвентарь необходимо перед выполнением задания.

    p
      | В случае использования стандартных дисков и грифа, продемонстрировать маркировку, так, чтобы ее было четко видно в кадре. В случае отсутствия маркировки, продемонстрировать в кадре процесс взвешивания всех элементов в отдельности или штанги целиком, так чтобы показания весов были хорошо видны в кадре.

    p
      | В случае использования стандартного набивного мяча, продемонстрировать маркировку, так, чтобы ее было четко видно в кадре. В случае отсутствия маркировки, продемонстрировать в кадре процесс взвешивания мяча, так чтобы показания весов были хорошо видны в кадре.

    p
      | Также необходимо продемонстрировать процесс измерения высоты метки для бросков мяча.

    p
      | Видео должно быть не редактировано и не обрезано.

    p
      | Рекомендуется присутствие в кадре человека, осуществляющий подсчет повторений. Также на протяжении всего задания в кадре должен быть виден секундомер, а его показания быть различимы без затруднений.

    p
      | Видео необходимо записывать с ракурса, не затрудняющего оценку выполнения стандартов движений.

    p
      | Видео должно быть загружено на видеохостинг youtube.com и находиться в публичном доступе. Видео, загруженное на иные хостинги, кроме youtube.com, рассматриваться не будет. Ответственностью атлета является предоставление открытого доступа к просмотру видео.

    p
      | Название видео должно содержать: фамилию и имя участника, название комплекса и категорию, в которой он выступает.
