legend
  h2
    | О проекте

p
  strong> Онлайн-Zаруба
  | - Новая турнирная площадка для спортивных состязаний и возможности для лучших заработать деньги. Здесь нет ограничения по виду спорта, возрасту или месту проживания, участие может принять каждый.Мы предлагаем каждому попробовать свои силы и “зарубиться” с соперниками по всему миру. Докажи что ты лучший и получи награду. Мы учли опыт всех подобных соревнований, собрали все лучшее и сформировали самый интересный, на наш взгляд, турнир. В этом может убедиться каждый.
