legend
  h2
    | Панель Судьи


= link_to "Оценка видео", round_video_list_path(0), class: "btn btn-block btn-primary"
= link_to "Управление соревнованиями", competitions_path, class: "btn btn-block btn-primary"
= link_to "Управление комплексами", rounds_path, class: "btn btn-block btn-primary"
= link_to "Управление категориями", types_path, class: "btn btn-block btn-primary"
= link_to "Список пользователей", user_list_path, class: "btn btn-block btn-primary"
= link_to "Реклама/Партнеры", ads_path, class: "btn btn-block btn-primary"
