legend
  h2
    | Контакты

p
  strong> Чемерисова Елена Юрьевна
  | - руководитель проекта
  br
  | elenagyseva88@mail.ru

  br
  br

  strong> Чемерисов Владлен Жанович
  | - исполнительный директор ( по вопросам развития, рекламы, сотрудничества)
  br
  | http://vk.com/id11174765

  br
  | chemerisov_vlad@mail.ru

  br
  br

  strong> Фазлиахметов Амир Динарович
  | - администратор (технические вопросы)
  br
  | http://vk.com/id257238993
  br
  | zaruba.help@gmail.com
