legend
  h2
    | Как принять участие

ol.how-to-list
  li Зарегистрируйся. Выложи фото своего профиля на стене VK или в Instagram.
  li Выбери категорию, оплати участие.
  li До завершения таймер (7 дней) сними и отправь видео выполненного комплекса на YouTube в открытом доступе, указав в названии CrossFit Zаруба <<Деньги за победу>> "Группа" "ФИО" и и результат комплекса (время и количество повторений). Важно указать все правильно!
  li Ссылку на видео с YouTube отправить на сайт с помощью специальной формы. По истечению таймера (7 дней) будет определен потенциальный победитель. Затем, только для участников, есть возможность улучшить результат комплекса в течение 3х дней и стать победителем!
  li Победителю будет выслан призовой фонд категории на указанные банковские реквизиты.

= link_to "#{fa_icon 'download'} Скачать регламент".html_safe, download_reglament_path, class: "btn btn-primary"

hr

= render '/help/video_capturing'
