legend
  h2
    | Пользователи

table.table
  tr
    thead
      th ID
      th Имя
      th Фамилия
      th Email
      th Телефон
    tbody
      - @users.each do |user|
        tr
          td=user.id
          td=user.fname
          td=user.lname
          td=user.email
          td=user.phone
