= form_for @round_task, html: { class: "form form-horizontal round_task" } do |f|
  .form-group
    = f.label :title, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :title, :class => 'form-control'
    = f.error_span(:title)
  .form-group
    = f.label :round_id, :class => 'control-label col-lg-2'
    .col-lg-10
      / = f.text_field :round_id, :class => 'form-control'
      = f.select(:round_id, Round.all.order(created_at: :desc).map{ |r| ["#{r.id}: #{r.title}", r.id] }, {}, class: "form-control")
    = f.error_span(:round_id)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary'
      '
      = link_to t('.cancel', :default => t("helpers.links.cancel")), round_tasks_path, :class => 'btn'
