- model_class = RoundTask
.page-header
  h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
table.table.table-striped
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:title)
      th= model_class.human_attribute_name(:round_id)
      th= model_class.human_attribute_name(:created_at)
      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @round_tasks.each do |round_task|
      tr
        td= link_to round_task.id, round_task_path(round_task)
        td= round_task.title
        td= round_task.round_id
        td=l round_task.created_at
        td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_round_task_path(round_task), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), round_task_path(round_task), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_round_task_path, :class => 'btn btn-primary'
