- model_class = RoundTask
.page-header
  h1=t '.title', :default => model_class.model_name.human.titleize

p
  strong= model_class.human_attribute_name(:title) + ':'
  br
  = @round_task.title
p
  strong= model_class.human_attribute_name(:round_id) + ':'
  br
  = @round_task.round_id

= link_to t('.back', :default => t("helpers.links.back")), round_tasks_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_round_task_path(@round_task), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), round_task_path(@round_task), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
