= form_for @ad, html: { class: "form form-horizontal ad" } do |f|
  .form-group
    = f.label :title, 'Заголовок', :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :title, :class => 'form-control'
    = f.error_span(:title)
  .form-group
    = f.label :description, 'Описание', :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_area :description, :class => 'form-control'
    = f.error_span(:description)
  .form-group
    = f.label :site, 'Ссылка', :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :site, :class => 'form-control'
    = f.error_span(:site)
  .form-group
    = f.label :is_partner, 'Партнер?', :class => 'control-label col-lg-2'
    .col-lg-10
      checkbox
        label
          = f.check_box :is_partner
    = f.error_span(:is_partner)
  .form-group
    = f.label :use_image, 'Использовать картинку?', :class => 'control-label col-lg-2'
    .col-lg-10
      checkbox
        label
          = f.check_box :use_image
    = f.error_span(:use_image)
  .form-group
    = f.label :is_big_picture, 'Использовать большую картинку?', :class => 'control-label col-lg-2'
    .col-lg-10
      checkbox
        label
          = f.check_box :is_big_picture
    = f.error_span(:is_big_picture)
  .form-group
    = f.label :image, "Картинка", :class => 'control-label col-lg-2'
    .col-lg-10
      br
      = image_tag @ad.image.url(:thumb), width: "150px"
      br
      |  (Текущая картинка)
      = f.file_field :image
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      '
      = link_to t('.cancel', :default => t("helpers.links.cancel")), ads_path, :class => 'btn'
