- model_class = Ad
.page-header
  h1 Реклама/Партнеры
table.table.table-striped
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th Заголовок
      th Описание
      th Ссылка
      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @ads.each do |ad|
      tr
        td= ad.id
        td= ad.title
        td= ad.description
        td= ad.site
        td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_ad_path(ad), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), ad_path(ad), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to 'Создать', new_ad_path, :class => 'btn btn-primary'
