- model_class = Ad
.page-header
  h1 Реклама/Партнер

p
  strong= model_class.human_attribute_name(:title) + ':'
  br
  = @ad.title
p
  strong= model_class.human_attribute_name(:description) + ':'
  br
  = @ad.description
p
  strong= model_class.human_attribute_name(:link) + ':'
  br
  = @ad.site
p
  strong= model_class.human_attribute_name(:is_partner) + ':'
  br
  = @ad.is_partner

= link_to t('.back', :default => t("helpers.links.back")), ads_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_ad_path(@ad), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), ad_path(@ad), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
