Здравствуйте, <%= @user.fname %> <%= @user.lname %>!

Спешим Вам сообщить, что оплата комлекса <%= @round.title %> произведена успешно и вы можете отправить свое видео на странице комплекса по следующей ссылке: <%= show_of_type_path(@round.type_id) %>
