| Здравствуйте, <%= @user.fname %> <%= @user.lname %>!
br
| Спешим Вам сообщить, что оплата комлекса <%= @round.title %> произведена успешно и вы можете отправить свое видео на странице комплекса по следующей <%= link_to 'ссылке', show_of_type_path(@round.type_id) %>.
