= form_for @comment, html: { class: "form form-horizontal comment" } do |f|
  .form-group
    = f.label :user_id, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :user_id, :class => 'form-control'
    = f.error_span(:user_id)
  .form-group
    = f.label :round_id, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :round_id, :class => 'form-control'
    = f.error_span(:round_id)
  .form-group
    = f.label :body, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :body, :class => 'form-control'
    = f.error_span(:body)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary'
      '
      = link_to t('.cancel', :default => t("helpers.links.cancel")), comments_path, :class => 'btn'
