- model_class = Comment
.page-header
  h1=t '.title', :default => model_class.model_name.human.titleize

p
  strong= model_class.human_attribute_name(:user_id) + ':'
  br
  = @comment.user_id
p
  strong= model_class.human_attribute_name(:round_id) + ':'
  br
  = @comment.round_id
p
  strong= model_class.human_attribute_name(:body) + ':'
  br
  = @comment.body

= link_to t('.back', :default => t("helpers.links.back")), comments_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_comment_path(@comment), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), comment_path(@comment), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
