legend
  h2
    | Авторизация
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = bootstrap_flash
  .form-group
    = f.label :email
    br
    = f.email_field :email, autofocus: true, class: "form-control"
  .form-group
    = f.label :password, "Пароль"
    br
    = f.password_field :password, autocomplete: "off", class: "form-control"
  - if devise_mapping.rememberable?
    .form-group
      => f.check_box :remember_me
      = f.label :remember_me, "Запомнить меня"
  .actions.row
    .col-xs-6.col-sm-6.col-md-6.col-lg-6
      = f.submit "Войти", class: "btn btn-success btn-block"
    .col-xs-6.col-sm-6.col-md-6.col-lg-6
      = link_to "Регистрация", new_user_registration_path, class: "btn btn-primary btn-block"
/ = render "users/shared/links"
