= form_for @round_video, html: { class: "form form-horizontal round_video" } do |f|
  .form-group
    = f.label :round_user_id, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.select(:round_user_id, RoundUser.all.order(created_at: :desc).map { |ru| ["#{ru.id}: #{ru.round.title}, #{ru.user.email}", ru.id]}, {}, class: "form-control")
      / = f.text_field :round_user_id, :class => 'form-control'
    = f.error_span(:round_user_id)
  .form-group
    = f.label :youtube_url, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :youtube_url, :class => 'form-control'
    = f.error_span(:youtube_url)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary'
      '
      = link_to t('.cancel', :default => t("helpers.links.cancel")), round_videos_path, :class => 'btn'
