- model_class = RoundVideo
.page-header
  h1 Видео участников
table.table.table-striped
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th Пользователь
      th Повторения
      th Время
      th Статус
      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @round_videos.each do |round_video|
      tr
        td= link_to round_video.id, round_video_path(round_video)
        td= "#{round_video.round_user_id}: #{round_video.round_user.user.email}"
        - if round_video
          td= round_video.repeats
          td
            = "#{round_video.minutes}:#{round_video.seconds}"
        - else
          td Не оценено
          td Не оценено
        td= round_video.is_checked ? "Проверено" : "-"
        td
          = link_to "Оценить", rating_round_video_path(round_video), class: 'btn btn-primary btn-xs'
          '
          / = link_to t('.edit', :default => t("helpers.links.edit")), edit_round_video_path(round_video), :class => 'btn btn-default btn-xs'
          / '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), round_video_path(round_video), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

/ = link_to t('.new', :default => t("helpers.links.new")), new_round_video_path, :class => 'btn btn-primary'
