- model_class = RoundVideo
.page-header
  h1 Оценка видео

p
  strong Пользователь:
  br
  = @round_video.round_user.user.email
p
  strong Видео:
  br
    iframe[width="90%" height="350px" src="#{get_youtube_link(@round_video.youtube_url)}" frameborder="0"]

= form_for @round_video, html: { class: "form form-horizontal round_video" } do |f|
  = f.hidden_field :round_user_id, value: @round_video.round_user_id
  = f.hidden_field :youtube_url, value: @round_video.youtube_url

  .form-group.input-group
    span.input-group-addon Время(минуты)
    = f.text_field :minutes, :class => 'form-control', value: @round_video.minutes
  .form-group.input-group
    span.input-group-addon Время(секунды)
    = f.text_field :seconds, :class => 'form-control', value: @round_video.seconds
  .form-group.input-group
    span.input-group-addon Повторения
    = f.text_field :repeats, :class => 'form-control', value: @round_video.repeats
  .form-group
    .checkbox
      label
        = f.check_box :is_checked
        | Окончательно проверено судьей


  .form-group
    = f.submit "Оценить", :class => 'btn btn-primary'
    '
    = link_to "Назад", round_videos_path, :class => 'btn btn-default'


/ = form_for @round_video_rating, html: { class: "form form-horizontal round_video_rating" } do |f|
/   .form-group.hide
/       = f.hidden_field :round_video_id
/   .form-group.input-group
/     span.input-group-addon Повторения
/     = f.text_field :score, :class => 'form-control'
/   .form-group.input-group
/     span.input-group-addon Время(минуты)
/     = f.text_field :time, :class => 'form-control'
/   .form-group.input-group
/     span.input-group-addon Время(секунды)
/     = f.text_field :time, :class => 'form-control'
/   .form-group
/       = f.submit "Оценить", :class => 'btn btn-primary'
/       '
/       = link_to t('.back', :default => t("helpers.links.back")), round_videos_path, :class => 'btn btn-default'
