- model_class = RoundVideo
.page-header
  h1 Видео

p
  strong Пользователь:
  br
  = @round_video.round_user.user.email
p
  strong Статус:
  br
  span[class="#{@round_video.is_checked ? 'text-success' : 'text-warning'}"]
    = @round_video.is_checked ? "Проверено" : "Проверяется"

p
  strong Повторения:
  br
  = @round_video.repeats

p
  strong Время:
  br
  = "#{@round_video.minutes}:#{@round_video.seconds}"

p
  strong Видео:
  br
    iframe[width="90%" height="350px" src="#{get_youtube_link(@round_video.youtube_url)}" frameborder="0"]

- if @round_video.round_user && @round_video.round_user.round
  = link_to t('.back', :default => t("helpers.links.back")), ratings_path(@round_video.round_user.round.type_id), :class => 'btn btn-default'
