= form_for @competition, html: { class: "form form-horizontal competition" } do |f|
  .form-group
    = f.label :title, "Название", :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :title, :class => 'form-control'
    = f.error_span(:title)
  .form-group
    = f.label :description, "Описание", :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_area :description, :class => 'form-control', style: "resize: vertical;"
    = f.error_span(:description)
  .form-group
    = f.label :start_date, "Дата начала", :class => 'control-label col-lg-2'
    .col-lg-10
      = f.date_select :start_date, :class => 'form-control'
    = f.error_span(:start_date)
  .form-group
    = f.label :days, "Длительность", :class => 'control-label col-lg-2'
    .col-lg-10
      = f.number_field :days, value: @competition.days, :class => 'form-control'
    = f.error_span(:days)
  .form-group
    = f.label :timer_days, "Длительность таймера", :class => 'control-label col-lg-2'
    .col-lg-10
      = f.number_field :timer_days, value: @competition.timer_days, :class => 'form-control'
    = f.error_span(:timer_days)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      '
      = link_to t('.cancel', :default => t("helpers.links.cancel")), competitions_path, :class => 'btn'
