- model_class = Competition
.page-header
  h1 Соревнования
table.table.table-striped
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th Название
      th Описание
      th Начало
      th Длит.
      th Длит. таймера
      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @competitions.each do |competition|
      tr
        td= link_to competition.id, competition_path(competition)
        td= link_to competition.title, competition_path(competition)
        td= competition.description
        td= competition.start_date
        td= competition.days
        td= competition.timer_days
        td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_competition_path(competition), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), competition_path(competition), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_competition_path, :class => 'btn btn-primary'
