- model_class = Competition
.page-header
  h1 Соревнование

p
  strong Название:
  br
  = @competition.title
p
  strong Описание:
  br
  = @competition.description
p
  strong Дата начала:
  br
  = @competition.start_date
p
  strong Длительность
  br
  = @competition.days
p
  strong Длительность таймера
  br
  = @competition.timer_days

= link_to t('.back', :default => t("helpers.links.back")), competitions_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_competition_path(@competition), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), competition_path(@competition), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
