- @round = @competition.rounds.select { |r| r.type_id == type.id }.first unless @competition.nil?
h2.text-center
  = "#{type.title} #{type.description}"
.type-block-text.text-center
  p
    | Стоимость участия:
    =<> type.price
    | руб.
    - if type.is_team
      = " - #{(type.price / 4).round} руб. с человека"
  p
    | Количество участников:
    strong=<> RoundUser.joins(:round).where(rounds: {type_id: type.id, competition_id: Competition.current.id} ).count
  p[style="font-size: 21px !important;"]
    - if @round
      span[style="font-size: 14px"]
        | Начальный призовой фонд:
        - if @round.start_prize != 0
          strong=<>@round.start_prize
          | руб.
        - else
          strong=<>@round.text_prize
      br
      | Текущий призовой фонд:
      strong=<>@round.prize
      | руб.
    - else
      | Нет активного комплекса для данной категории.

  p[style="font-size: 14px; color: #"]
    | Призовой фонд увеличивается с каждым новым участником!
