= form_for @type, html: { class: "form form-horizontal type" } do |f|
  .form-group
    = f.label :title, 'Название', :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :title, :class => 'form-control'
    = f.error_span(:title)
  .form-group
    = f.label :description, 'Описание',:class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :description, :class => 'form-control'
    = f.error_span(:description)
  .form-group
    = f.label :price, 'Цена', :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :price, :class => 'form-control'
    = f.error_span(:price)
  .form-group
    = f.label :beat_price, 'Цена "Побить рекорд"', :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :beat_price, :class => 'form-control'
    = f.error_span(:beat_price)
  .form-group
    = f.label :is_team, 'Командная категория', :class => 'control-label col-lg-2'
    .col-lg-10
      .checkbox
        label
          = f.check_box :is_team
    = f.error_span(:is_team)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      '
      = link_to t('.cancel', :default => t("helpers.links.cancel")), types_path, :class => 'btn'
