.row
  .col-md-12
    .text-center
      / h1 CrossFit онлайн Zаруба
      / h2 «Деньги за победу»
      = image_tag "logo.jpg", class: "logo-image"
      br
      p[style="padding: 0 20px;"] CrossFit-Zаруба «Деньги за победу» — это открытый онлайн турнир, где участники соревнуются в выполнении кроссфит комплексов за право получить денежный приз. Принять участие может любой в соответствии с регламентом турнира. Призовой фонд зависит от количества участников. Это реальная возможность заработать на своей физической подготовке!


.type-choose.hidden-md.hidden-lg
  hr

  p.text-center[style="font-size: 18px;"]
    | Выбери категорию:

  hr[style="margin-bottom: 0px;"]

.type-black-line.hidden-sm.hidden-xs
  .container-fluid
    .row.text-center
      .col-md-4
        | Зарегистрируйся
      .col-md-1
        => image_tag "arrow-right-white.png", class: "type-arrow-right"
      .col-md-3
        | Сними видео
      .col-md-1
        =< image_tag "arrow-right-white.png", class: "type-arrow-right"
      .col-md-3
        | Получи приз



/ .container-fluid[]
.row[style="margin-left: 0; margin-right: 0;"]
  - @types.each do |type|
    a[href="#{show_of_type_path(type.id)}"]
      - if type.equal? @types.last
        .type-block.col-md-12.text-center
          = render 'block_list_type', type: type
      - else
        .type-block.col-md-6
          = render 'block_list_type', type: type
