- model_class = Type
.page-header
  h1 Категории
table.table.table-striped
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th Название
      th Описание
      th Цена
      th Цена "Побить рекорд"
      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @types.each do |type|
      tr
        td= type.id
        td= type.title
        td= type.description
        td= type.price
        td= type.beat_price
        td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_type_path(type), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), type_path(type), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to 'Создать', new_type_path, :class => 'btn btn-primary'
