- model_class = Type
.page-header
  h1 Категория

p
  strong Название:
  br
  = @type.title
p
  strong Описание:
  br
  = @type.description
p
  strong Цена:
  br
  = @type.price

p
  strong Цена "Побить рекорд":
  br
  = @type.beat_price

= link_to t('.back', :default => t("helpers.links.back")), types_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_type_path(@type), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), type_path(@type), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
