- if current_user && @round_user && !@winner_user_enabled
  / = f.hidden_field :user_id, :class => 'form-control', value: current_user.id
  - if @round_video_sent
    h6.text-success Вы уже отправили видео на проверку!
  - elsif !@winner_user_enabled
    = render 'send_video_button'

- elsif current_user && !@winner_user_enabled
  - team_category = Type.find_by_is_team(true)
  - if @cant_register_solo && !team_category.nil? && @round.type_id != team_category.id
    h6.text-danger Вы не можете зарегистрироваться в данном соревновании, так как уже участвуете в одном индивидуальном комплексе!
  - else
    / = form_for current_user.round_users.new, html: { class: "form form-horizontal round_user" }, remote: true do |f|
      / = f.hidden_field :round_id, :class => 'form-control', value: @round.id
      / = f.submit "Участвовать", :class => 'btn btn-primary'
    button.btn.btn-primary.btn-payment
      | Оплатить участие
      iframe.make-payment-btn[frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/small.xml?account=410012692910825&quickpay=small&any-card-payment-type=on&button-text=02&button-size=l&button-color=black&targets=Взнос%20участника%20соревнования%20#{@round.title}&default-sum=#{@round.type.price}&label=#{current_user.id}-#{@round.id}&successURL=#{request.env['PATH_INFO']}"]

- if @winner_user_enabled && @can_send_video && @round.competition.is_active?
  = render 'send_video_button'

- if current_user && defined?(video_capturing_btn) && video_capturing_btn
  br
  br
  = render '/help/video_capturing'
