= form_for @round, html: { class: "form form-horizontal round", multipart: true } do |f|
  .form-group
    = f.label :title, "Название", :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :title, :class => 'form-control'
    = f.error_span(:title)
  .form-group
    = f.label :description, "Описание",  :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :description, :class => 'form-control'
    = f.error_span(:description)
  .form-group
    = f.label :type_id, "Категория", :class => 'control-label col-lg-2'
    .col-lg-10
      = f.select(:type_id, Type.all.map{ |t| [t.title, t.id] }, {}, class: "form-control")
    = f.error_span(:type_id)
  .form-group
    = f.label :type_id, "Соревновние", :class => 'control-label col-lg-2'
    .col-lg-10
      = f.select(:competition_id, Competition.all.map{ |t| [t.title, t.id] }, {}, class: "form-control")
    = f.error_span(:competition_id)
  .form-group
    = f.label :rating_type, "Тип комплекса", :class => 'control-label col-lg-2'
    .col-lg-10
      = f.select(:rating_type, [['"Макс. повторения" за время', 0], ['"На время" нужное число повторений', 1]], {}, class: "form-control")
    = f.error_span(:rating_type)
  .form-group
    = f.label :repeats, "Нужное кол-во повторений", :class => 'control-label col-lg-2'
    .col-lg-10
      = f.number_field(:repeats, step: 1)
    = f.error_span(:repeats)
  .form-group
    = f.label :minutes, "Время", :class => 'control-label col-lg-2'
    .col-lg-10
      = f.number_field(:minutes, in: 0..60, step: 1)
      = f.number_field(:seconds, in: 0..60, step: 1)
      / = f.select(:minutes, 1..60.times{ |t| [t, t] }, {}, class: "form-control input-sm")
    = f.error_span(:minutes)
  .form-group
    = f.label :start_prize, "Стартовый призовой фонд", :class => 'control-label col-lg-2'
    .col-lg-10
      = f.number_field(:start_prize, step: 1)
    = f.error_span(:start_prize)
  .form-group
    = f.label :text_prize, "Доп. Инфо.", :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :text_prize, :class => 'form-control'
    = f.error_span(:text_prize)
  .form-group
    = f.label :peak_prize, "Максимальный призовой фонд", :class => 'control-label col-lg-2'
    .col-lg-10
      = f.number_field(:peak_prize, step: 1)
    = f.error_span(:peak_prize)
  .form-group
    = f.label :prize_percent, "Процент в призовой фонд", :class => 'control-label col-lg-2'
    .col-lg-10
      = f.number_field(:prize_percent, step: 1)
    = f.error_span(:prize_percent)
  .form-group
    = f.label :image, "Изображение", class: "control-label col-lg-2"
    .col-lg-10
      = image_tag @round.image.url(:thumb), width: "150"
      |  (Текущая картинка)
      = f.file_field :image
  #tasks.form-group
    = f.label :tasks, "Упражнения", class: "control-label col-lg-2"
    .col-lg-10
      = f.fields_for :round_tasks do |round_task|
        = render 'round_task_fields', f: round_task
      .links
        = link_to_add_association "#{fa_icon 'plus'} Добавить упражнение".html_safe, f, :round_tasks
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      '
      = link_to t('.cancel', :default => t("helpers.links.cancel")), rounds_path, :class => 'btn'
