.nested-fields
  .form-group
    / = f.label :title
    / br
    .input-group
      = f.text_field :title, class: "form-control input-sm"
      span.input-group-btn
        = link_to_remove_association "#{fa_icon 'ban'} Удалить".html_safe, f, class: "btn btn-danger btn-sm"
