.spoiler-block
  button.btn.btn-primary.info-spoiler-btn Отправка видео
  .info-spoiler

    br

    .alert.alert-dismissible.alert-warning
      strong
        - if @round.rating_type == 0
          | Сколько повторений вы выполнили за
          strong
            =< "#{@round.minutes} минут #{@round.seconds} секунд?"
          | .
        - elsif @round.rating_type == 1
          | За какое время вы выполнили
          strong
            =<> "#{@round.repeats}"
          | повторения?

    = form_for @round_user.round_videos.new do |f|
      = f.hidden_field :round_user_id, value: @round_user.id

      - if @round.rating_type == 1
        .form-group
          label
            | Время(минуты):
          = f.text_field :minutes, class: "form-control input-sm"

        .form-group
          label
            | Время(секунды):
          = f.text_field :seconds, class: "form-control input-sm"

      - if @round.rating_type == 0
        .form-group
          label
            | Количество повторений:
          = f.text_field :repeats, class: "form-control input-sm"
      .form-group
        label
          | Введите ссылку на видео с YouTube:
          span[style="font-size: 10px;"]
            br
            | Примеры ссылок:
            br
            | "https://youtu.be/X3PreBW1Y" или "https://www.youtube.com/watch?v=X3PreBW1Y"
        = f.text_field :youtube_url, class: "form-control input-sm", placeholder: "https://youtu.be/VIDEO_ID"
        / input.form-control.input-sm[type="text"]
      button.btn.btn-success[type="submit"]
        | Отправить
