.winner-block
  .winner-text.winner-header.text-center
    strong Лидер будет известен через:

  .winner-text.winner-timer.text-center
    strong#timer
    / = abort @end_date.inspect
    javascript:
      var currentDate = new Date();
      var endDate = new Date("#{@end_date.year}", "#{@end_date.month - 1}", "#{@end_date.day}", 23, 59, 59, 0);
      var milliseconds = endDate.getTime() - currentDate.getTime();
      //$('#timer').html(endDate.getDate() + " " + currentDate.getDate());
      setInterval(function(){
        console.log(endDate);
        console.log(currentDate);
        x = milliseconds / 1000;
        seconds = Math.floor(x % 60);
        x /= 60;
        minutes = Math.floor(x % 60);
        x /= 60;
        hours = Math.floor(x % 24);
        x /= 24;
        days = Math.floor(x);


        if (x > 0) {
          $('#timer').html(
          '<span class="timer-seconds timer-time">' + days + '</span>' + ((days == 1) ? " день " : " дней ") +
          '<span class="timer-seconds timer-time">' + hours + "</span> часов " + '<span class="timer-seconds timer-time">' + minutes + "</span> минут" +
          '<p class="timer-seconds"><span class="timer-seconds timer-time">' + seconds + '</span> секунд</p>'
          );
          milliseconds -= 1000;
        }
      }, 1000);

  .text-center
    - if @archive_round
      | Он получил выигрыш в размере
      br
      strong>
        =<> @round.prize
        | рублей
    - else
      | Он получит выигрыш в размере
      br
      strong>[style="font-size: 20px;"]
        =<> @round.prize
        | рублей
