.winner-block
  .winner-text.winner-header.text-center
    - if @archive_round || !@round.competition.is_active?
      | Победитель
    - else
      | Лидер

    | &nbspэтой Zарубы:

  .winner-text.winner-name.text-center
    strong
      = @winner_round_video.round_user.user.fname
      =< @winner_round_video.round_user.user.lname
    br
    = @winner_round_video.round_user.user.email

  .winner-photo
    = image_tag @winner_round_video.round_user.user.avatar.url(:medium), width: "100%"

  .winner-text.text-center
    - if @archive_round
      | Он получил выигрыш в размере
      br
      strong>
        =<> @round.prize
        | рублей
    - else
      | Он получит выигрыш в размере
      br
      strong>
        =<> @round.prize
        | рублей
      | через:

  - unless @archive_round || !@round.competition.is_active?
    .winner-text.winner-timer.text-center
      strong#timer
      javascript:
        //var currentDate = new Date();
        //var endDate = new Date("#{@end_date.year}", "#{@end_date.month - 1}", "#{@end_date.day}", 0, 0, 0, 0);
        //var milliseconds = endDate.getTime() - currentDate.getTime();
        //$('#timer').html(endDate.getDate() + " " + currentDate.getDate());

        //console.log($(window).timerWinnerUser);

        //if (!timerWinnerUser)
        var currentDate = new Date();
        var endDate = new Date("#{@end_date.year}", "#{@end_date.month - 1}", "#{@end_date.day}", 23, 59, 59, 0);
        var milliseconds = endDate.getTime() - currentDate.getTime();

        setInterval(function(){
          console.log(endDate);
          console.log(currentDate);

          x = milliseconds / 1000;
          seconds = Math.floor(x % 60);
          x /= 60;
          minutes = Math.floor(x % 60);
          x /= 60;
          hours = Math.floor(x % 24);
          x /= 24;
          days = Math.floor(x);


          if (x > 0) {
            $('#timer').html(
            '<span class="timer-seconds timer-time">' + days + '</span>' + ((days == 1) ? " день " : " дней ") +
            '<span class="timer-seconds timer-time">' + hours + "</span> часов " + '<span class="timer-seconds timer-time">' + minutes + "</span> минут" +
            '<p class="timer-seconds"><span class="timer-seconds timer-time">' + seconds + '</span> секунд</p>'
            );
            milliseconds -= 1000;
          }
        }, 1000);

  .winner-text.winner-result.text-center
    | Время:
    strong<
      = "#{@winner_round_video.minutes}:#{@winner_round_video.seconds}"
    br
    | Повторения:
    strong<
      = @winner_round_video.repeats
  - if @archive_round
    .winner-text.winner-button-block
      a.btn.btn-primary.btn-block.btn-payment[href="#{round_video_path(@winner_round_video)}"]
        | Посмотреть видео!

  - elsif current_user && @round_user && @winner_round_video.round_user.user_id != current_user.id && @round.competition.is_active?
    .winner-text.text-center
      | Побей его результат и получи весь выигрыш вместо него!
    .winner-text.winner-button-block
      button.btn.btn-primary.btn-block.btn-payment
        | Побить рекорд!
        iframe.make-payment-btn[frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/small.xml?account=410012692910825&quickpay=small&any-card-payment-type=on&button-text=02&button-size=l&button-color=black&targets=Взнос%20участника%20соревнования%20#{@round.title}&default-sum=#{@round.type.beat_price}&label=#{current_user.id}-#{@winner_round_video.round_user.round.id}&successURL=#{request.env['PATH_INFO']}"]
    .winner-text.text-center[style="color: #aaa; font-size: 12px;"]
      = "*Стоимость пересдачи видео - #{@round.type.beat_price} руб."
