- model_class = Round

.page-header
  h1
    .text-center
      strong
        = @round.title
      br
      | Призовой фонд:
      strong
        =<> @round.prize
      | рублей

.row
  .col-md-8.col-lg-8

    br
    .spoiler-block
      button.btn.btn-default.info-spoiler-btn Показать информацию о раунде
      .info-spoiler
        br
        p
          strong
            | Категория:
          =< @round.type.title

        p
          strong
            | Описание:
          =< @round.description
        p
          strong
            | Комплекс:
          ul.round-tasks-list
            - @round.round_tasks.each do |round_task|
              li=round_task.title

    br

    .row
      .col-lg-8.col-md-8.col-sm-8.col-xs-12
        = image_tag @round.image.url(:high), width: "100%"

    br

  - if current_user && @winner_round_video
    .col-xs-12.col-sm-4.col-md-4.col-lg-4
      = render 'winner_user'

hr

h3
  | Комментарии:

- if current_user
  = form_for(current_user.comments.new, remote: true) do |f|

    = f.hidden_field :round_id, value: @round.id

    .form-group
      = f.text_area :body, id: "comment-input-field", class: "form-control", style: "resize: vertical", placeholder: "Текст комментария.."

    .actions
      = f.submit "Отправить", class: "btn btn-success"

br

- if @round.comments.blank?
  p
    | Здесь пока еще нет комментариев.

.comments.container-fluid
  - @round.comments.each do |comment|
    = render comment


/ = link_to t('.back', :default => t("helpers.links.back")), rounds_path, :class => 'btn btn-default'
/ '
/ = link_to t('.edit', :default => t("helpers.links.edit")), edit_round_path(@round), :class => 'btn btn-default'
/ '
/ = link_to t('.destroy', :default => t("helpers.links.destroy")), round_path(@round), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
