- model_class = Round
.page-header
  h1
    | Архив комплексов
table.table.table-striped
  thead
    tr
      th Название
      th Категория
      th Соревнование
      th Победитель
  tbody
    - @rounds.each do |round|
      - round_videos = RoundVideo.joins(:round_user).where(round_users: { round_id: round.id })
      - winner_round_video = round_videos.order(repeats: :desc, minutes: :asc, seconds: :asc).first
      - winner_round_video = nil if round.competition.is_active?
      tr
        / td= link_to round.id, round_path(round)
        td= link_to round.title, archive_round_path(round)
        / td= round.description
        td= round.type.title
        / td=l round.created_at
        td= round.competition.blank? ? "" : "#{round.competition.id}: #{round.competition.title}"
        / td= "#{current_user.fname} #{current_user.lname}"
        td= winner_round_video ? "#{winner_round_video.round_user.user.fname} #{winner_round_video.round_user.user.lname}" : "Не определен"
