- model_class = Round
.page-header
  h1
    | Комплексы
table.table.table-striped
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th Название
      th Категория
      th Соревнование
      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @rounds.each do |round|
      tr
        td= round.id
        td= round.title
        / td= round.description
        td= round.type.title
        / td=l round.created_at
        td= round.competition.blank? ? "" : "#{round.competition.id}: #{round.competition.title}"
        td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_round_path(round), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), round_path(round), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to 'Создать', new_round_path, :class => 'btn btn-primary'
