- model_class = Round
.page-header
  h1=t '.title', :default => model_class.model_name.human.titleize

p
  strong= model_class.human_attribute_name("Название раунда") + ':'
  br
  = @round.title
p
  strong= model_class.human_attribute_name("Описание") + ':'
  br
  = @round.description
p
  strong= model_class.human_attribute_name("Тип") + ':'
  br
  = @round.type.title

= link_to t('.back', :default => t("helpers.links.back")), rounds_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_round_path(@round), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), round_path(@round), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
