- model_class = Round

.page-header
  h1
    .text-center
      strong
        = @round.title
      br
      | Призовой фонд:
      strong
        =<> @round.prize
      | рублей

      - unless @round.text_prize.blank?
        .text_prize
          br
          | Доп.информация:
          =<> @round.text_prize

.row
  .col-md-8.col-lg-8

    br
    .spoiler-block
      button.btn.btn-primary.info-spoiler-btn Показать информацию о комплексе
      '
      = link_to 'Рейтинг', ratings_path(@round.type_id), class: "btn btn-primary"
      .info-spoiler
        br
        p
          strong
            | Категория:
          br
          =< @round.type.title

        - unless @round.description.blank?
          p
            strong
              | Описание:
            br
            =< @round.description

        - unless @round_tasks.blank?
          p
            strong
              | Комплекс:
            ul.round-tasks-list
              - @round_tasks.each do |round_task|
                li=round_task.title
        p
          strong
            | Тип:
          br
          - if @round.rating_type == 0
            | Требуется выполнить максимальное количество повторений за
            strong
              =< "#{@round.minutes} минут #{@round.seconds} секунд"
            | .
          - elsif @round.rating_type == 1
            | Требуется выполнить
            strong
              =<> "#{@round.repeats}"
            | повторения за минимальное время.
    br
    = render 'action_buttons'

    - if current_user && @round_user && !@winner_user_enabled && !@round_video_sent && false
      br
      .alert.alert-dismissible.alert-danger
        strong
          p Используйте данное имя для видео, иначе оно не будет проверено!
          p = "CrossFit-Zаруба - #{@round.title} - группа #{@round.type.title}, #{current_user.fname} #{current_user.lname}"


    br
    br

    .row
      .col-lg-8.col-md-8.col-sm-8.col-xs-12
        = image_tag @round.image.url(:high), width: "100%"

    br

    / = render 'action_buttons', video_capturing_btn: true
    - if current_user
      = render '/help/video_capturing'
    / - if current_user && !@round_video_sent
    /   br
    /   .alert.alert-dismissible.alert-danger
    /     strong
    /       p Используйте данное имя для видео, иначе оно не будет проверено!
    /       p = "CrossFit-Zаруба - #{@round.title} - группа #{@round.type.title}, #{current_user.fname} #{current_user.lname}"


    / iframe#make-payment-btn[frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/small.xml?account=410012600571450&quickpay=small&any-card-payment-type=on&button-text=02&button-size=m&button-color=black&targets=Взнос%20участника%20соревнования%20#{@round.title}&default-sum=#{@round.type.price}&label=#{current_user.id}-#{@round.id}&successURL=" width="160" height="42"]

  .col-xs-12.col-sm-4.col-md-4.col-lg-4
    - if @winner_user_enabled
      - if @winner_round_video
        = render 'winner_user'
    - else
      = render 'timer'

hr

h3
  | Комментарии:

- if current_user
  = form_for(current_user.comments.new, remote: true) do |f|

    = f.hidden_field :round_id, value: @round.id

    .form-group
      = f.text_area :body, id: "comment-input-field", class: "form-control", style: "resize: vertical", placeholder: "Текст комментария.."

    .actions
      = f.submit "Отправить", class: "btn btn-success"

br

- if @comments.blank?
  p
    | Здесь пока еще нет комментариев.

.comments.container-fluid
  - @comments.each do |comment|
    = render comment
