- model_class = RoundUser
.page-header
  h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
table.table.table-striped
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:round_id)
      th= model_class.human_attribute_name(:user_id)
      th= model_class.human_attribute_name(:created_at)
      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @round_users.each do |round_user|
      tr
        td= link_to round_user.id, round_user_path(round_user)
        td= round_user.round_id
        td= round_user.user_id
        td=l round_user.created_at
        td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_round_user_path(round_user), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), round_user_path(round_user), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_round_user_path, :class => 'btn btn-primary'
