- model_class = RoundUser
.page-header
  h1=t '.title', :default => model_class.model_name.human.titleize

p
  strong= model_class.human_attribute_name(:round_id) + ':'
  br
  = @round_user.round_id
p
  strong= model_class.human_attribute_name(:user_id) + ':'
  br
  = @round_user.user_id

= link_to t('.back', :default => t("helpers.links.back")), round_users_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_round_user_path(@round_user), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), round_user_path(@round_user), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
