
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */



@import "font-awesome";

@import "comments";

@import "bootstrap-sprockets";

@import "bootswatch/yeti/variables";

@import "responsive-align.css";

@import "bootstrap";

@import "bootswatch/yeti/bootswatch";

@import "types";

* {
  font-family: 'Exo 2', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 20px 0;
  margin: 50px 0;
  background-image: image-url("main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

footer {
  padding-top: 15px;
  // border-top: 1px solid #006687;
  border-top: 1px solid #222;
  background-color: #333;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow:hidden;
  font-weight: 300;

  a {
    color: white;

    &:hover {
      color: white;
      text-decoration: none;
      color: #e7e7e7;
    }
  }
}

.logo-image {
  margin: 20px 0;
  width: 80%;
}

.auth-wrap {
  padding: 20px;
  // background: rgba(255, 255, 255, 0.95);
  opacity: 0.97;
  background-color: #fff;
}

.form-required {

  &:before {
    margin-right: 2px;
    content: '*';
    color: rgba(255, 0, 0, 0.8);
  }
}

.content-wrap {
  border: 1px solid #222;
  box-shadow: 1px 1px 1px #222;
  padding: 20px;
  opacity: 0.97;
  background-color: #fff;
}

.content-wrap-nobg {
  border: 1px solid #222;
  box-shadow: 1px 1px 1px #222;
  opacity: 0.97;
}

.content-wrap-nopad {
  background-color: #fff;
  border: 1px solid #222;
  box-shadow: 1px 1px 1px #222;
  opacity: 0.97;
}

.btn-payment{
  position: relative;
  overflow: hidden;
}
.make-payment-btn {
  opacity: 0;
  margin-left: -10px;
  margin-top: -10px;
  top: 0px;
  left: 0px;
  width: 200%;
  height: 200%;
  position: absolute;
}

.winner-block {
  margin-top: 20px;
  border: 1px solid #e7e7e7;

  .winner-text {
    padding: 5px;
    font-size: 14px;
    border-bottom: 1px solid #e7e7e7;
  }

  .winner-header {
    font-size: 16px;
  }

  .winner-photo {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
  }

  .winner-name {
    font-size: 20px;
    border-bottom: 0;
  }

  .winner-result {}
  .winner-button-block {}
}

.page-header {
  margin-top: 0px;
  padding-bottom: 20px;

  h1 {
    margin: 0;
  }
}

.well {
  padding: 0px;
}

.well .rek-el-text {
  padding: 10px 15px;
}
.well .rek-el-image {
  padding: 0px;
}

.types {
  a {
    background-color: #fff;
    opacity: 0.97;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
}

.timer-time {
  font-size: 20px;
}

.user-avatar {
  position: relative;
}

.social-text {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 20px;
  padding: 20px;
}

.social-text-small {
  font-size: 15px;
}

.text_prize {
  font-size: 20px;
}
