// Place all the styles related to the types controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.type-block {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  height: 300px;

  .type-block-text {
    color: #222;
  }

  &:hover {
    cursor: pointer;
    background-color: #f7f7f7;
  }
}

.type-black-line {
  background-color: #000;
  color: white;
  font-size: 24px;
  font-weight: 300;
  padding: 15px 0;
}

.type-arrow-right {
  width: 30px;
  height: 30px;
}
