= form_for @round_video_rating, html: { class: "form form-horizontal round_video_rating" } do |f|
  .form-group
    = f.label :round_video_id, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :round_video_id, :class => 'form-control'
    = f.error_span(:round_video_id)
  .form-group
    = f.label :score, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :score, :class => 'form-control'
    = f.error_span(:score)
  .form-group
    = f.label :time, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :time, :class => 'form-control'
    = f.error_span(:time)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary'
      '
      = link_to t('.cancel', :default => t("helpers.links.cancel")), round_video_ratings_path, :class => 'btn'
