- model_class = RoundVideoRating
.page-header
  h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
table.table.table-striped
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:round_video_id)
      th= model_class.human_attribute_name(:score)
      th= model_class.human_attribute_name(:time)
      th= model_class.human_attribute_name(:created_at)
      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @round_video_ratings.each do |round_video_rating|
      tr
        td= link_to round_video_rating.id, round_video_rating_path(round_video_rating)
        td= round_video_rating.round_video_id
        td= round_video_rating.score
        td= round_video_rating.time
        td=l round_video_rating.created_at
        td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_round_video_rating_path(round_video_rating), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), round_video_rating_path(round_video_rating), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_round_video_rating_path, :class => 'btn btn-primary'
