.page-header
  h2 Рейтинг
  - if Competition.current.is_active?
    h5 Результаты будут известны после окончания соревнования

table.table.table-striped
  thead
    tr
      th Место
      th Пользователь
      th Повторения
      th Время
      th Статус
      th Видео
  tbody
    - @index = 1;
    / - @round_video_ratings.each do |rating|
      / td= @index
      / td= "#{rating.round_video.round_user.user.fname} #{rating.round_video.round_user.user.lname}"
      / td= rating.score
      / td= "#{rating.time / 60}:#{rating.time % 60}"
      / - @index = @index + 1

    - @round_videos.each do |rating|
      tr
        td= @index
        td= rating.round_user.round.competition.is_active? ? "?" : "#{rating.round_user.user.fname} #{rating.round_user.user.lname}"
        td= rating.round_user.round.competition.is_active? ? "?" : rating.repeats
        td= rating.round_user.round.competition.is_active? ? "?" : "#{rating.minutes}:#{rating.seconds}"
        td[class="#{rating.is_checked ? 'text-success' : 'text-warning'}"]
          = rating.is_checked ? "Проверено" : "Проверяется"
        td= link_to "Просмотр", round_video_path(rating) unless rating.round_user.round.competition.is_active?
        - @index = @index + 1

