- model_class = RoundVideoRating
.page-header
  h1=t '.title', :default => model_class.model_name.human.titleize

p
  strong= model_class.human_attribute_name(:round_video_id) + ':'
  br
  = @round_video_rating.round_video_id
p
  strong= model_class.human_attribute_name(:score) + ':'
  br
  = @round_video_rating.score
p
  strong= model_class.human_attribute_name(:time) + ':'
  br
  = @round_video_rating.time

= link_to t('.back', :default => t("helpers.links.back")), round_video_ratings_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_round_video_rating_path(@round_video_rating), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), round_video_rating_path(@round_video_rating), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
