.navbar.navbar-default.navbar-static-top.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle[data-toggle="collapse" data-target=".navbar-responsive-collapse"]
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand[href="#{root_path}"]
        | CrossFit online Zаруба
    .navbar-collapse.collapse.navbar-responsive-collapse
      .text-center.hidden-sm.hidden-xs[style="position: absolute; width: 30%; left: 35%; color: #fff; font-size: 15px; margin-top: 12px;"]
        strong Деньги за победу
      ul.nav.navbar-nav.navbar-right
        li= link_to "Контакты", contacts_path
        li= link_to "Регламент", download_reglament_path
        li= link_to "О Проекте", about_path
        - if current_user
          li= link_to "Выход", destroy_user_session_path, method: :delete
