.well.sidebar-nav.content-wrap
  - if current_user
    h3.text-center[style="margin-top:10px;"]= "#{current_user.fname} #{current_user.lname}"
    / = image_tag current_user.avatar.url(:medium), style: "width: 100%;"
    .user-avatar
      - unless cookies[:avatar_downloaded] == 'true'
        a[href="#{avatar_with_frame_download_path}"]
          .social-text.text-center
            | Выложи это фото у себя в социальной сети!
            br
            br
            .social-icons
              => fa_icon "vk 2x"
              => fa_icon "facebook 2x"
              => fa_icon "twitter 2x"
              => fa_icon "instagram 2x"
            br
            .social-text-small Кликни, чтобы скачать фото
            javascript:
              $('.social-text').on('click', function(){
                $(this).fadeOut(100);
              });

      = image_tag "#{avatar_with_frame_path}", style: "width: 100%;"
  - else
    h3.text-center Пожалуйста, авторизуйтесь
    = image_tag "medium/missing_avatar.png", style: "width: 100%;"
  ul.nav.nav-list
    - if current_user
      li= link_to "Профиль", edit_user_registration_path(current_user)
      li= link_to "Рейтинг", ratings_path(Type.third)
    - else
      li= link_to "Вход", new_user_session_path
      li= link_to "Регистрация", new_user_registration_path
    li= link_to "Категории", categories_path
    li= link_to "Архив Zаруб", archive_path
    li= link_to "Как принять участие", how_to_path
    - if current_user && current_user.is_admin?
      li= link_to "Панель Судьи", admin_panel_path

- ads = getAds(4)
- if ads.count > 0
  .well.sidebar-nav.content-wrap
    ul.nav.nav-list.text-center[style="margin-left: 0;"]
      - ads.each do |ad|
        li
          a[href="http://#{ad.site}" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="#{ad.description}" style="padding: 0px;"]
            - if ad.use_image
              .rek-el-image
                - if ad.is_big_picture
                  = image_tag ad.image.url(:medium)
                - else
                  = image_tag ad.image.url(:thumb)
            -else
              .rek-el-text
                = ad.title

- partners = getPartners(4)
- if partners.count > 0
  .well.sidebar-nav.content-wrap
    ul.nav.nav-list.text-center[style="margin-left: 0;"]
      - partners.each do |ad|
        li
          a[href="http://#{ad.site}" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="#{ad.description}" style="padding: 0px;"]
            - if ad.use_image
              .rek-el-image
                - if ad.is_big_picture
                  = image_tag ad.image.url(:medium)
                - else
                  = image_tag ad.image.url(:thumb)
            -else
              .rek-el-text
                = ad.title
