doctype html
html lang="ru"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    title= content_for?(:title) ? yield(:title) : "Zaruba"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    link[href='https://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css']
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.jpg', :rel => 'shortcut icon'
    = javascript_include_tag "application"
    /! Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"


  body
    = render 'layouts/navbar'

    .container
      .row
        .com-sm-3.col-md-3.col-lg-3
          = render 'layouts/sidebar'
        .com-sm-9.col-md-9.col-lg-9
          .row
            .col-md-12
              - if @need_round_types
                .types.btn-group.btn-group-justified
                  - @competition = Competition.current
                  - Type.all.order(id: :asc).each do |type|
                    - round = @competition.rounds.select { |r| r.type_id == type.id }.first unless @competition.nil?
                    = link_to "<strong>#{type.title}</strong><br/><strong>#{round ? round.prize : 0}</strong> рублей".html_safe, show_of_type_path(type), class: "btn btn-default", style: "#{@round.type_id == type.id ? 'background-color: #ccc' : ''}"
              - elsif @need_rating_types
                .types.btn-group.btn-group-justified
                  - Type.all.order(id: :asc).each do |type|
                    = link_to "<strong>#{type.title}</strong>".html_safe, ratings_path(type), class: "btn btn-default", style: "#{@round.type_id == type.id ? 'background-color: #ccc' : ''}"
          / = bootstrap_flash
          - if @no_background
            .content-wrap-nopad
              = yield
          - else
            .content-wrap
              = yield

      = render 'layouts/footer'

  javascript:
    readyFunction();
