h2
  | Изменение данных
  / =< resource_name.to_s.humanize
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .row
    .form-group.col-xs-12.col-sm-4.col-md-4
      = f.label :avatar, "Аватар"
      br
      / = image_tag @user.avatar.url(:thumb), width: "150px"
      = image_tag "#{avatar_with_frame_path}", width: "150px"
      br
      |  (Текущая картинка)
      = f.file_field :avatar
    .form-group.col-xs-12.col-sm-8.col-md-8
      = f.label :fname, "Имя"
      = f.text_field :fname, class: "form-control"
      = f.label :lname, "Фамилия"
      = f.text_field :lname, class: "form-control"
      = f.label :email
      = f.email_field :email, autofocus: true, class: "form-control"
  .form-group
    = f.label :phone, "Телефон"
    = f.text_field :phone, class: "form-control"
  .form-group
    = f.label :password, "Пароль"
    = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Оставьте поле пустым, если не хотите менять пароль"
  .form-group
    = f.label :password_confirmation, "Подтверждение пароля"
    br
    = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
  / .form-group
  /   = f.label :current_password, "Текущий пароль", class: "form-required"
  /   br
  /   = f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Нужен Ваш текущий пароль для подтверждения действий"
  / .form-group
  /   = f.label "Соц"
  /   br
  /   = image_tag "/image_test", width: "300px"
  /   br
  /   = f.file_field :avatar
  .actions.row
    .col-xs-6.col-sm-6.col-md-6.col-lg-6
      = f.submit "Изменить", class: "btn btn-block btn-success"
    .col-xs-6.col-sm-6.col-md-6.col-lg-6
      = link_to "Назад", :back, class: "btn btn-block btn-primary"
/ h3
/   | Cancel my account
/ p
/   | Unhappy?
/  = button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete
