legend
  h2
    | Регистрация
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .form-group
    = f.label :email, class: "form-required"
    = f.email_field :email, autofocus: true, class: "form-control"
    / [data-toggle: "tooltip" data-placement: "right" title:"" data-original-title: "Tooltip on right"]
  .form-group
    = f.label :password, "Пароль", class: "form-required"
    = f.password_field :password, autocomplete: "off", class: "form-control", data: { toggle: "tooltip", placement: "top", title: "", original_title: "Password must have at least 8 characters." }
  .form-group
    = f.label :password_confirmation, "Подтвеждение пароля", class: "form-required"
    = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
  .form-group
    = f.label :fname, "Имя", class: "form-required"
    = f.text_field :fname, class: "form-control"
  .form-group
    = f.label :lname, "Фамилия", class: "form-required"
    = f.text_field :lname, class: "form-control"
  .form-group
    = f.label :phone, "Телефон", class: "form-required"
    = f.text_field :phone, class: "form-control"
  .form-group
    = f.label :avatar, "Аватар"
    br
    = f.file_field :avatar
  .form-group.form-required
    => f.check_box :user_agreement
    = f.label :user_agreement, "Ознакомлен с #{link_to 'регламентом', download_reglament_path} и соглашаюсь с условиями турнира".html_safe
  .form-group
    label
      span.form-required
        | - Поля, обязательные для заполнения.
  .actions.row
    .col-xs-6.col-sm-6.col-md-6.col-lg-6
      => f.submit "Зарегистрироваться", class: "btn btn-success btn-block"
    .col-xs-6.col-sm-6.col-md-6.col-lg-6
      = link_to "Вход", new_user_session_path, class: "btn btn-primary btn-block"
/ = render "users/shared/links"
